<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>立知行旅游网</title>
</head>
<body>

<footer th:fragment="copyfooter">

<div class="bot1_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo2_wrapper">
                    <a href="view" class="logo2">
                        <img th:src="@{/images/logo2.png}" alt="" class="img-responsive">
                    </a>
                </div>
                <p>
                    欢迎进入我们的旅游网站
                </p>
                <p>
                    <a href="#" class="btn-default btn2">了解更多</a>
                </p>
            </div>

            <div class="col-sm-3">
                <div class="bot1_title">通讯</div>
                <div class="newsletter_block">
                    <div class="txt1">给我们发送你的建议</div>
                    <div class="newsletter-wrapper clearfix">
                        <form class="newsletter" action="javascript:;">
                            <input type="text" name="s" value='Email Address' onBlur="if(this.value=='') this.value='Email Address'" onFocus="if(this.value =='Email Address' ) this.value=''">
                            <a href="#" class="btn-default btn3">提交</a>
                        </form>
                    </div>
                </div>
                <div class="phone2">1111111111</div>
            </div>
        </div>
    </div>
</div>

<div class="bot2_wrapper">
    <div class="container">
        <div class="left_side">
           有问题欢迎联系我们1947181994@qq.com</a>
        </div>
        <div class="right_side"></div>
    </div>
</div>

</footer>
</body>
</html>