<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>攻略详情</title>
    <!-- CSS Style -->
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script  type="text/javascript" th:inline="javascript">

        var id=[[${oneStrategy.id}]];
        $(function () {
            $('#table_refresh').load("/travel/local?id="+id);
            //alert(id)
        })

    </script>

</head>

<body class="single-product-page">


<!-- head 头部 -->
<div id="head" th:include="common/index_header :: copyheader"></div>
<br>
<!-- Main Container -->
<section class="main-container col1-layout">
        <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-main">
                    <div class="product-view">
                        <div class="product-essential">
                            <form action="#" method="post" id="strategy">
                                <div class="product-img-box col-lg-5 col-sm-6 col-xs-12">
                                    <div class="new-label new-top-left"> New </div>
                                    <div class="product-image">
                                        <div class="product-full"> <img id="product-zoom" th:src="@{${oneStrategy.img}}" src="images/products/img02.jpg" data-zoom-image="images/products/img02.jpg" alt="product-image"> </div>

                                    </div>

                                </div>
                                <div class="product-shop col-lg-7 col-sm-6 col-xs-12">
                                    <div class="product-name">
                                        <h1 th:text="${oneStrategy.name}"></h1>
                                    </div>
                                    <div class="info-orther">
                                        <p>攻略Id: <span id="id" name="id" th:text="${oneStrategy.id}"></span></p>
                                            <p>目的地: <span class="in-stock" th:text="${oneStrategy.destination}"></span></p>
                                            <p>出行日期: <span class="in-stock" th:text="${oneStrategy.startdate}"></span></p>
                                    </div>

                                    <div class="short-description">
                                        <p>交通工具: <span id="infosource" name="infosource" th:text="${oneStrategy.tool}"></span></p>

                                    </div>
                                    <div class="form-share">
                                        <div class="sendtofriend-print"> <a href="javascript:print();"><i class="fa fa-print"></i> 打印</a> <a href="#"><i class="fa fa-envelope-o fa-fw"></i> 分享</a> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
                    <div class="add_info">
                        <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                            <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> 发布者描述 </a> </li>
                        </ul>
                        <div id="productTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="product_tabs_description">
                                <div class="std">
                                    <p th:text="${oneStrategy.publisher}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--底部-->
<div th:include="common/index_footer :: copyfooter"></div>


<script th:src="@{/js2/owl.carousel.min.js}"></script>
<script th:src="@{/js2/main.js}"></script>







</body>
</html>