<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>攻略分享</title>
    <script src="js/script.js" th:href="@{/js/script.js}"></script>
</head>
<body>
<!-- head 头部 -->
<div id="head" th:include="common/index_header :: copyheader"></div>

<div id="parallax2" class="parallax">
    <div class="bg4 parallax-bg"></div>
    <div class="overlay"></div>
    <div class="parallax-content">
        <div class="container">
        </div>
    </div>
</div>

<div class="breadcrumbs1_wrapper">
    <div class="container">
        <div class="breadcrumbs1"><a href="view">首页</a><span>/</span>攻略分享</div>
    </div>
</div>

<div id="content">
    <div class="container">
            <div id="container" class="clearfix col-sm-6" th:each="strategy : ${strategys}">
                <ul class="thumbnails clearfix" id="isotope-items">
                    <li class="element isotope-filter2 col-sm-12 col-xs-12">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix" >
                                <a th:href="@{${strategy.img}}" rel="prettyPhoto[max]"
                                   title="Photo">
                                    <figure>
                                        <img th:src="@{${strategy.img}}">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1" th:text="${strategy.name}"></div>
                                        <div class="txt2" th:text="${strategy.destination}"></div>
                                        <div class="txt2" th:text="${strategy.tool}"></div>
                                        <div class="txt2" th:text="${strategy.startdate}"></div>
                                        <div class="txt2" th:text="${strategy.publisher}"></div>
                                    </div>

                                    <div class="right_side"><a th:href="@{'/travel/oneStrategy?id='+${strategy.id}}" class="btn-default btn1">详情</a>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:include="common/index_footer :: copyfooter"></div>
</body>
</html>